<div class="pi-test">
    <div class="toGroupDiv form-group">
        <div class="col-md-3">
            {{i18n i18root 'firstName'}}
        </div>
        <div class="col-md-9 input-group">
            <input class="form-control input-grey" type="text" value="{{firstName}}">
        </div>
    </div>

    <div class="toGroupDiv form-group">
        <div class="col-md-3">
            {{i18n i18root 'lastName'}}
        </div>
        <div class="col-md-9 input-group">
            <input class="form-control input-grey" type="text" value="{{lastName}}">
        </div>
    </div>

    <div class="toGroupDiv form-group">
        <div class="col-md-3">
            {{i18n i18root 'address'}}
        </div>
        <div class="col-md-9 input-group">
            <input class="form-control input-grey" type="text">
        </div>
    </div>

    <div class="toGroupDiv form-group">
        <div class="col-md-3">
            {{i18n i18root 'annualUtilityExpense'}}
        </div>
        <div class="col-md-9 input-group">
            <input class="form-control input-grey" type="text">
        </div>
    </div>

    <div class="toGroupDiv form-group">
        <div class="col-md-3">
            {{i18n i18root 'currentUtilityPlan'}}
        </div>
        <div class="col-md-9 input-group">
            <input class="form-control input-grey" type="text">
        </div>
    </div>

    <hr/>

    <div class="modal-ng-controls">
        <button class="btn btn-danger btn-lg ctrl-cancel">
          {{i18n i18root 'cancel'}}
        </button>
        <button class="btn btn-default btn-lg ctrl-send-email">
          {{i18n i18root 'ok'}}
        </button>
    </div>

</div>
